
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');


*{
  box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
background-color: rgb(224, 214, 199);
}

/* header's css details */
header{
  background-color: hsla(32, 74%, 95%, 0.9);

  color: black;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 70px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 50px;
position: fixed;
z-index: 50;
border-radius: 30px 10px;
}
.logo{
  font-weight: 800;
  font-size: 1.5em;
  text-shadow:5px 5px 5px  #a39bba ;
  margin-left: 40px;
  text-transform: uppercase;
  color: #69690e;
  font-style: italic;
 letter-spacing: 1px;
 
}
nav{
  
  display: flex;
  justify-content: space-between;
align-items: center;

  
}
.Search{
  display: flex;
  align-items: center;
}
input[type="text"] {
  padding: 10px; 
  margin-right: 3px;
  width: 400px;

  border-radius: 10px;
   
  background-color: rgb(220, 195, 156);
  
}

.navbar a,.navbar .Search{
  text-decoration: none;
  font-size: 1.1em;
color: rgb(6, 3, 93);
padding: 5px;
margin: 5px;
background-color: #999902;
border-radius: 20px 10px;


}
.navbar a:hover{
  /* border: 1px solid  #159dbe; */
  border-radius: 20px 10px;
  background-color: #159dbe;
  transition: 1.5s;


}
#after_login{
  display:none;
}

/* section main css details which contain first page*/
.secmain{
width: 100%;
min-height: 100vh;
  display: flex;
 
  align-items: center;
padding: 0 3em;
background-image:url(ECECommerce.jpg);
background-color: #181731;
background-size: cover;
background-attachment: fixed;
background-position:  90% 10% ;
color:#ebf3f0;

}
.widthmain{
  width: 35%;
}

.secmain h1{
  color:#ebf3f0;

  font-size:1em;
  font-weight: 500;
  font-style: italic;
} 
.secmain h1 .title{
  color:#fefffe;
  font-size:1.5em;
  font-style:italic;
  display: inline-block; 
  margin-top: 10px;
}

.secmain p{
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.secmain .main-btn{
  text-decoration: none;
  color:#fff;
  background-color: #057996;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
padding: 5px;
  border-radius: 15px;
}
.secmain .main-btn:hover{
transform: scale(1.2);
transition: 1s ease;
}



/* infobelongs to products section  */
#products{  /* contain all header and products*/
  text-align: center;

  background-color: rgb(223, 207, 186);

  border: 2px solid black;
  text-align: center;
}
.products-title{
  color: rgb(114, 114, 16);
    font-size: 70px;
}


.productscontent{        /*which contain just products     */
  display: flex;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}

.secproduct{  /*which contain one product     */
  margin: 20px;
  background-color: #fff;
  border: 1 solid #fff;
  height: 20em;
  width: 25%;
  overflow: hidden;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.secproduct:hover img{
  transform: scale(1.125);
}

.product-image{
  text-align: center;
  object-fit:contain;
  transition: .7s ease-in-out;

}
.product-title{
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 100%;
}



.product-name {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;

}

.product-details {
  margin-top: 10px;
}